body {
    background-color: rgba(0, 0, 0, 0.904);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(238, 234, 237);
}

header {
    background-color: #222222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
	font-size: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease;
	padding: 10px;
}

nav a:hover {
	color: #61bb8e;
	background-color: rgba(0, 0, 0, 0.5);
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#Welcome {
    font-size:xx-large;
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    padding-left: 10px;
    display: block;
    float: right;
}

p {
    text-align: center;
}

/*Carousel 03/28/2025*/
#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}