body {
    background-color: rgba(0, 0, 0, 0.904);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(238, 234, 237);
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#Welcome {
    font-size:xx-large;
    text-align: center;
}

h1 {
    text-align: center;
}

img {
    padding-left: 10px;
    display: block;
    float: right;
}

p {
    text-align: center;
}

/*Carousel 03/28/2025*/
#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}